div{
    
   background-color: black;
}
h1{
    color:white;

}
span{
    color:aqua;
}
h2{
    background-color: blueviolet;
    color: whitesmoke;
    text-align: center;
    font: italic ;
}
h3{
    background-color: lightblue;
    color: navy;
    text-align: right;
    text-decoration: underline;


}
.completedProjects{
position: absolute; left:0px;

}